.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.textArea {
    width: 100%;
    min-height: 70px;
    resize: none;
    padding: 10px;
}

.button {

}